<p-dialog header="Détail de la commande" [(visible)]="display" [style]="{width: '80%', height: '80%'}"  [modal]="true" [responsive]="true"
          [maximizable]="true" [baseZIndex]="10000">
  <p-tabMenu #menuItems [model]="items1" [activeItem]="activeItem" (click)="activateMenu()">  </p-tabMenu>

  <div class="ui-g-12 ui-md-8" *ngIf="activeItem==items1[0]" style="height: 450px; overflow:auto!important">
    <div class="ui-g" >
      <div class="ui-g-3 ui-sm-6">Id commande : </div>
      <div class="ui-g-9 ui-sm-6">{{infos.id}}</div>

      <div class="ui-g-3 ui-sm-6">Nom du client : </div>
      <div class="ui-g-9 ui-sm-6">{{infos.nomClien}}</div>

      <div class="ui-g-3 ui-sm-6">Type de réseau : </div>
      <div class="ui-g-9 ui-sm-6">{{infos.typeReau}}</div>

      <div class="ui-g-3 ui-sm-6">STIT : </div>
      <div class="ui-g-9 ui-sm-6">{{infos.stit}}</div>

      <div class="ui-g-3 ui-sm-6">Typologie : </div>
      <div class="ui-g-9 ui-sm-6">{{infos.typo}}</div>

    </div>
  </div>



  <div class="ui-g-12 ui-md-8" *ngIf="activeItem==items1[1]"   style="height: 450px; width: 100%; overflow:auto!important;padding-left: 0em;;padding-right: 0em;">
    <p-table [value]="historiques" [resizableColumns]="true" [tableStyle]="{'table-layout':'auto'}" [style]="{'width': '100%'}">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 120px">Date</th>
          <th>Acteur</th>
          <th>Message</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-historique >
        <tr>
          <td><span class="badge badge-secondary">{{historique.date|date:'dd/MM/yyyy:HH:mm:ss'}}</span></td>
          <td><span>{{historique.acteur}}</span></td>
          <td><span>{{historique.message}}</span></td>
        </tr>
      </ng-template>
    </p-table>

    <!--<ul class="list-group">
      <li class="list-group-item" *ngFor="let c of historiques">
        <span class="badge badge-secondary">{{c.date|date:'dd/MM/yyyy:HH:mm:ss'}}</span>
        {{c.message}}
      </li>

    </ul>-->
  </div>


  <div class="ui-g-12 ui-md-8" *ngIf="activeItem==items1[2]" style="height: 450px; width: 100%; overflow:auto!important;padding-left: 0em;;padding-right: 0em;">
    <p-table [value]="piecesjointes" [resizableColumns]="true" [tableStyle]="{'table-layout':'auto'}" [style]="{'width': '100%'}">
      <ng-template pTemplate="header" >
      <tr>
        <th style="width: 120px">Date</th>
        <th>Type</th>
        <th>Nom de la pièce jointe</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-piecesjointe >
      <tr>
        <td><span class="badge badge-secondary">{{piecesjointe.date|date:'dd/MM/yyyy:HH:mm:ss'}}</span></td>
        <td><span>{{piecesjointe.type}}</span></td>
        <td><span><a href="#">{{piecesjointe.nompiecejointe}}</a> </span></td>
      </tr>
    </ng-template>
    </p-table>
  </div>

</p-dialog>

<button pButton type="button" icon="pi pi-search" (click)="showDialog()" ></button>
